@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap')

.nav
    display: flex
    justify-content: space-evenly
    width: 100%
    padding: 100px 0px 0px 0px

    font-family: 'Lato'
    font-style: normal
    font-weight: 300
    font-size: 20px
    line-height: 43px
    text-transform: uppercase
    color: #84BD00

    div
        display: flex
        justify-content: space-evenly
        gap: 50px

.form
    display: flex
    border: 1px solid #000000
    padding: 23px
    margin-bottom: 10px
    border-radius: 20px
    width: 432px
    height: auto

.inputfield
    display: flex
    border: none
    margin-left: 20px
    width: 100%
    height: 25px
    outline: none

.textfield
    display: flex
    margin-left: 20px
    width: 100%
    height: 100%
    outline: none

.dropdown
    display: flex
    margin-left: 20px
    width: 100%
    height: 100%
    outline: none

.button
    background: #84BD00
    border-radius: 20px
    width: 250px
    height: 73px
    font-style: normal
    font-weight: 500
    font-size: 24px
    line-height: 29px
    text-align: center
    color: #FFFFFF

// ImageUpload.sass

.imgwrapper
    display: flex
    align-items: center
    justify-content: center
    position: relative

.upload
    width: 150px
    height: 150px
    border-radius: 50%
    background-color: #f2f2f2
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    position: relative

.icon
    font-size: 40px
    color: #979797

.fileinput
    display: none

    img
        width: 100%
        height: 100%
        object-fit: cover

.remove
    background-color: transparent
    border: none
    position: absolute
    right: 0
    top: 0
    padding: 5px
    cursor: pointer
    font-size: 20px
    color: #979797
