$primary: #84BD00
$primary-hover: #73a302
    
.title
    font-size: 30px
    display: flex
    padding: 50px 10px 0px 0px
    margin-left: 15%
    
    h1
        font-family: "Lato-Bold"
        
.cardContainer
    display: flex
    justify-content: center
    align-items: center

.cardArr
    display: flex
    justify-content: center
    padding: 50px
    flex-direction: row
    flex-wrap: wrap
    width: 100%

.cardWrapper
    margin: 25px

.container
    display: flex
    justify-content: center
    align-items: center
    padding-top: 40px

.swiper
    display: flex
    overflow-x: auto

.searchGrid
    width: 850px
    padding-left: 50px

    @media (max-width: 48em)
        width: 80%

.search
    @media (max-width: 48em)
        margin: 0px 0px 0px 0px

.searchInput
    height: 70px
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25)
    border-radius: 35px
    padding-right: 65px
    padding-left: 25px

.searchIcon
    height: 70px
    margin-right: 20px

.post
    min-width: 180px
    height: 70px
    background: $primary
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25)
    border-radius: 100px
    margin: 0px 0px 0px 25px

    @media (max-width: 768px)
        margin: 20px 0px 0px 0px
        margin-top: 20px

    &:hover
        background: $primary-hover

    div
        color: #ffff
        text-transform: uppercase
        display: flex
        justify-content: center
        align-items: center
        gap: 10px
    
.nocontent
    display: flex
    justify-content: center
    font-size: 25px
    color: #9c9c9c    

.postJobText
    p
        font-size: 17px
        font-family: "Lato-Bold"
    