//global styles
.container
    display: flex
    flex-direction: column
    width: 100%
    background: #ffffff

.form
    display: flex
    padding: 70px
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%

.field
    display: grid
    justify-content: space-evenly
    padding: 100px
    flex-wrap: wrap

//Post Co-op Styles

.submitform
    margin: 90px
    padding-bottom: 80px
    width: 1280px
    border: 1px solid #c2c2c2
    box-shadow: 4px 4px 4px 4px #cacaca
    border-radius: 20px

.logo
    object-fit: cover
    border-radius: 100px
    width: 200px
    height: 170px

.header
    display: flex
    margin-left: 100px
    padding: 150px 0px 50px 50px

    div
        margin-left: 50px

.subheader
    display: flex
    width: 100%

    div
        padding-top: 25px
        font-size: 20px
        color: #000000

    h1
        font-size: 32px

    p
        font-size: 20px
        font-weight: 300
        color: #9c9c9c

    button
        display: flex
        justify-content: space-evenly



.content
    display: flex
    flex-direction: column
    padding-left: 100px
    line-height: 90px

    h1
        font-size: 32px

    p
        font-size: 20px
        font-weight: 300
        color: #000000

.subcontent
    display: flex
    flex-direction: row
    border-bottom: 1px solid #c2c2c2
    width: 1000px
    margin-bottom: 50px

    button
        display: flex
        font-size: 20px
        font-weight: 300
        color: #000000
        padding-left: 50px

    :hover
        color: #84BD00

    :focus
        color: #84BD00

.jobDetails
    display: flex
    flex-direction: column
    padding-left: 50px

.overview
    display: flex
    flex-direction: column
    padding-left: 50px

.submit
    .button
    background: #84BD00
    border-radius: 20px
    width: 250px
    height: 73px
    font-style: normal
    font-weight: 500
    font-size: 24px
    line-height: 29px
    text-align: center
    color: #FFFFFF


.options
    display: flex
    gap: 50px
