@font-face
    font-family: "Inter-Black"
    src: url(/fonts/Inter-Black.ttf)

@font-face
    font-family: "Inter-Bold"
    src: url(/fonts/Inter-Bold.ttf)

@font-face
    font-family: "Inter-ExtraBold"
    src: url(/fonts/Inter-ExtraBold.ttf)

@font-face
    font-family: "Inter-ExtraLight"
    src: url(/fonts/Inter-ExtraLight.ttf)

@font-face
    font-family: "Inter-Light"
    src: url(/fonts/Inter-Light.ttf)

@font-face
    font-family: "Inter-Medium"
    src: url(/fonts/Inter-Medium.ttf)

@font-face
    font-family: "Inter-Regular"
    src: url(/fonts/Inter-Regular.ttf)

@font-face
    font-family: "Inter-SemiBold"
    src: url(/fonts/Inter-SemiBold.ttf)

@font-face
    font-family: "Inter-Thin"
    src: url(/fonts/Inter-Thin.ttf)


.container
    display: flex
    flex-direction: row
    align-items: center
    padding: 1rem 19rem
    text-align: center
    font-family: "Inter-SemiBold"

.row
    display: flex
    flex-direction: row
    align-items: center
    text-align: center
    font-size: 20px    

.container li
    padding-left: 50px
    color: #84BD00

.flex1
    flex-grow: 1

.flex5
    flex-grow: 10

.fillerBanner
    display: flex
    min-width: 100vh
    height: 60vh
    background-color: grey
    font-size: 70px
    color: white
    align-items: center
    padding-left: 32vh
    font-family: "Inter-SemiBold"

.sideBar
    position: absolute
    width: 50vh
    height: 100vh
    background-color: #485049

.eventCard
    width: 40vh
    height: 30vh
    background-color: #566157
    margin-top: 5vh
    margin-left: auto
    margin-right: auto
    border-radius: 50px

.eventCard h1 p
    font-size: 60px
    font-family: "Inter-SemiBold"
    margin-top: 50px
    margin-left: 30px
    color: #AFFB00
    